.main{
    display: flex;
}

.left{
    /* margin: auto; */
    width: 50%;
    flex: 1;
    /* border: 5px rgb(10, 137, 160); */
    background-color: rgba(201, 206, 205, 0.8);
    justify-content: space-between;
    padding-left: 4%;
    padding-top: 1%;
    text-align: center;
}

.right{
    /* margin: auto; */
    width: 50%;
    flex: 2;
    /* padding-left: 5%; */
    /* padding-top: 1%; */
    /* border: 5px rgb(10, 92, 160); */
    background-color: rgba(181, 247, 206, 0.8);
    justify-content: space-between;
    font-weight: bold;
    font-style: italic;
}
.pic-and-name{
    display: flex;
    background-color: rgba(114, 226, 157, 0.8);
    gap: 15px;
    padding: 40px;
}

.image{
    /* width: 50%; */
    flex: 1;
}

img{
    border-radius: 50%;
    width: 224px;
    height: 224px;
}

.header{
    text-align: center;
    font-family: monospace;
}

.footer{
    text-align: center;
    font-family: monospace;
}
.name-right{
    font-size: 36px;
    text-align: left;

}
.everything-else-right{
    display: flex;
    flex-direction: column;
    flex: 3;
}
input{
    width: 60%;
}
.content{
    display: grid;
    flex-direction: column;
    padding: 20px;
    grid-template-columns: auto auto;
    font-size: larger;
    gap: 50px;
}
.left div{
    /* margin: auto; */
    margin-top: 10px;
    margin-bottom: 10px;
}
.experience-right,.education-right,.participation-right,.hobbies-right{
    height: 50px;
}

.work,.education,.hobbies,.awards{
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}